body {
    font-family: Helvetica, Arial, sans-serif;
}

.bounties {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.bounties li {
    background-color: #666;
    height: 100px;
    float: left;
    margin: 3px;
    position: relative;
    width: 200px;
}

.bounties li a {
    color: #fff;
    position: absolute;
    /*bottom: -9px;*/
    text-decoration: none;
    text-transform: uppercase;
}

[data-active]::after {
    color: #999;
    content: '⚔';
    display: inline-block;
    font-weight: bold;
    position: absolute;
    right: 0;
}

[data-inactive]::after {
    color: #ccc;
    content: 'Available';
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    right: 0;
}

[data-unknown]::after {
    color: #ccc;
    content: 'Unknown';
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    right: 0;
}
