$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, sans-serif;

@import "normalize.scss";

body {
    color: #666;
    font-family: $sans-serif;
}

a {
    color: #666;
    font-weight: bold;
    border-bottom: 1px dotted #666;
    text-decoration: none;
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 4px 6px;
    position: relative;
    vertical-align: middle;
    width: 220px;

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

[role="banner"] {
    clear: both;
    color: #333;
    margin: 0 auto;
    width: 80%;

    .brand {
        background-image: url(../../images/chest.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        font-size: 3em;
        font-weight: normal;
        line-height: 1;
        margin: 0.5em 0;
        padding-right: 1em;

        .wf-loading & {
            font-family: $serif;
        }

        .wf-active & {
            font-family: "bree-serif", $serif;
        }
    }

    .tagline {

    }
}

[role="main"] {
    clear: both;
    margin: 0 auto;
    width: 80%;

    .subheading {
        font-size: 1.5em;
        line-height: 30px;
        margin-top: 6px;
    }
}

.col {
    float: left;
}

.col-1 {
    width: 25%;
}

.col-2 {
    margin-left: 2%;
    width: 73%;
}

.standfirst {
    font-weight: bold;
}

.activity-indicator {
    background-image: url(../../images/loading.gif);
    background-position: center right;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 30px;
    margin-left: 2em;
    opacity: 0;
    padding-right: 20px;
    -webkit-transition: opacity 0.15s ease-in;
    -moz-transition: opacity 0.15s ease-in;
    -o-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
}

.bounties {
    list-style: none;
    margin: 0;
    padding: 0;
}

[class^="bounty-"] {
    background-color: #666;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 80px;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    position: relative;
    width: 31.9%;
    -webkit-transition: opacity 0.15s ease-in;
    -moz-transition: opacity 0.15s ease-in;
    -o-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;

    .target {
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        bottom: 0.5em; left: 0.25em;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        z-index: 3;
    }

    &::before {
        background-image: url(../../images/pattern.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        content: '';
        display: block;
        opacity: 0.2;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 2;
    }

    &[data-inactive] {
        opacity: 0.7;
    }

    &[data-active] {
        opacity: 1;

        &::after {
            color: orange;
            content: '⚔';
            display: block;
            font-size: 3em;
            line-height: 1;
            position: absolute;
            right: 0.2em; top: 0;
            text-shadow: -1px -1px 0 #000,
                          1px -1px 0 #000,
                          -1px 1px 0 #000,
                           1px 1px 0 #000;
            z-index: 3;
        }
    }
}
